{{#models}}
{{#model}}
# {{{classname}}}
**Properties**

| Name | Type | Notes |
|------------ | ------------- | -------------|
{{#allVars}}| **{{name}}** | {{#isEnum}}[{{datatypeWithEnum}}](#{{datatypeWithEnum}}){{/isEnum}} {{#isPrimitiveType}}{{dataType}}{{/isPrimitiveType}}{{^isPrimitiveType}}[{{dataType}}]({{complexType}}.md){{/isPrimitiveType}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly]{{/readOnly}} {{description}} |
{{/allVars}}

{{#allVars}}{{#isEnum}}## {{datatypeWithEnum}}

| Constant |
|------------|{{#allowableValues}}{{#values}}
| {{ . }} |{{/values}}{{/allowableValues}}

{{/isEnum}}{{/allVars}}
{{/model}}
{{/models}}