package {{{definition.javaPackage}}}.autogen;

{{#util.javaImportsFormat}}
import lombok.SneakyThrows;
import io.dataspray.runner.RawCoordinator;
import io.dataspray.runner.StoreType;
import io.dataspray.runner.util.GsonUtil;
import java.nio.charset.StandardCharsets;
import java.nio.charset.StandardCharsets;
import java.io.ByteArrayOutputStream;
{{#processor.hasDynamoState}}
import io.dataspray.runner.StateManager;
import io.dataspray.runner.StateManagerFactoryImpl;
import java.time.Duration;
import java.util.Optional;
import software.amazon.awssdk.services.dynamodb.DynamoDbClient;
{{#processor.includeSingleTableLibrary}}
import io.dataspray.singletable.SingleTable;
{{/processor.includeSingleTableLibrary}}
{{/processor.hasDynamoState}}
{{/util.javaImportsFormat}}

public class CoordinatorImpl implements {{#processor.web}}WebCoordinator{{#processor.hasInputStreams}}, {{/processor.hasInputStreams}}{{/processor.web}}{{#processor.hasInputStreams}}StreamCoordinator{{/processor.hasInputStreams}} {

    private final RawCoordinator rawCoordinator;
    {{#processor.hasDynamoState}}
    private final Optional<String> messageKey;
    {{/processor.hasDynamoState}}

    public CoordinatorImpl(
        RawCoordinator rawCoordinator{{#processor.hasDynamoState}},
        Optional<String> messageKey{{/processor.hasDynamoState}}
    ) {
        this.rawCoordinator = rawCoordinator;
        {{#processor.hasDynamoState}}
        this.messageKey = messageKey;
        {{/processor.hasDynamoState}}
    }
    {{#processor.hasDynamoState}}
    {{#processor.hasInputStreams}}

    @Override
    public StateManager stateForMessageKey(Optional<Duration> ttl) {
        return stateForNamespace(ttl, "task", "{{{processor.processorId}}}", "key", messageKey
            .orElseThrow(() -> new IllegalStateException("messageKey is not set")));
    }
    {{/processor.hasInputStreams}}

    @Override
    public StateManager stateForTask(Optional<Duration> ttl) {
        return stateForNamespace(ttl, "task", "{{{processor.processorId}}}");
    }

    @Override
    public StateManager stateForNamespace(Optional<Duration> ttl, String... namespace) {
        return rawCoordinator.getStateManager(namespace, ttl.orElse(null));
    }

    @Override
    public DynamoDbClient getDynamoClient() {
        return rawCoordinator.getDynamoClient();
    }
    {{#processor.includeSingleTableLibrary}}

    @Override
    public SingleTable getSingleTable() {
        return SingleTable.builder()
            .tableName(System.getenv(StateManagerFactoryImpl.DATASPRAY_STATE_TABLE_NAME_ENV))
            .overrideGson(GsonUtil.get())
            .build();
    }
    {{/processor.includeSingleTableLibrary}}
    {{/processor.hasDynamoState}}
    {{#processor.outputStreams}}

    @Override
    @SneakyThrows
    public void sendTo{{{uniqueNameCamelUpper}}}(String messageKey, {{{dataFormat.nameCamelUpper}}} {{{dataFormat.nameCamelLower}}}) {
        sendTo{{{uniqueNameCamelUpper}}}(messageKey, {{{dataFormat.nameCamelLower}}}, null);
    }

    @Override
    @SneakyThrows
    public void sendTo{{{uniqueNameCamelUpper}}}(String messageKey, {{{dataFormat.nameCamelUpper}}} {{{dataFormat.nameCamelLower}}}, String messageId) {
        {{#dataFormat.isSerdeAvro}}
        byte[] {{{dataFormat.nameCamelLower}}}Bytes;
        try (ByteArrayOutputStream baos = new ByteArrayOutputStream()) {
            {{{dataFormat.nameCamelUpper}}}.getEncoder().encode({{{dataFormat.nameCamelLower}}}, baos);
            {{{dataFormat.nameCamelLower}}}Bytes = baos.toByteArray();
        }

        {{/dataFormat.isSerdeAvro}}
        rawCoordinator.send(
            messageKey,
            {{#dataFormat.isSerdeBinary}}
            {{{dataFormat.nameCamelLower}}},
            {{/dataFormat.isSerdeBinary}}
            {{#dataFormat.isSerdeString}}
            {{{dataFormat.nameCamelLower}}}.getBytes(StandardCharsets.UTF_8),
            {{/dataFormat.isSerdeString}}
            {{#dataFormat.isSerdeJson}}
            GsonUtil.get().toJson({{{dataFormat.nameCamelLower}}}).getBytes(StandardCharsets.UTF_8),
            {{/dataFormat.isSerdeJson}}
            {{#dataFormat.isSerdeProtobuf}}
            {{{nameCamelUpper}}}.toByteArray(),
            {{/dataFormat.isSerdeProtobuf}}
            {{#dataFormat.isSerdeAvro}}
            {{{dataFormat.nameCamelLower}}}Bytes,
            {{/dataFormat.isSerdeAvro}}
            StoreType.{{{storeType.name}}},
            "{{{storeName}}}",
            "{{{streamName}}}",
            messageId);
    }
    {{/processor.outputStreams}}
}
