            pathDirs.length == {{{pathDepth}}}
            {{#pathRequiredDirs}}
            && "{{{name}}}".equals(pathDirs[{{{index}}}])
            {{/pathRequiredDirs}}
            {{#queryParams}}
            {{#isRequired}}
            && request.getQueryStringParameters().has("{{{name}}}"))
            {{/isRequired}}
            {{/queryParams}}
            {{#headers}}
            {{#isRequired}}
            && request.getHeadersCaseInsensitive().has("{{{name}}}"))
            {{/isRequired}}
            {{/headers}}
            {{^contentTypes.empty}}
            && request.getQueryStringParameters().has("Content-Type")
            && ENDPOINT_ALLOWED_CONTENT_TYPES_{{{nameSnakeUpper}}}.stream.anyMatch(
                MediaType.valueOf(request.getQueryStringParameters().get("Content-Type"))::isCompatible)
            {{#contentTypes}}"{{{.}}}"{{/contentTypes}}
            {{/contentTypes.empty}}
            {{#cookies}}
            {{#isRequired}}
            && request.getCookiesCaseInsensitive().has("{{{name}}}"))
            {{/isRequired}}
            {{/cookies}}
