package {{{definition.javaPackage}}};

{{#util.javaImportsFormat}}
import org.junit.Test;
{{#processor.endpoint}}
import io.dataspray.runner.dto.web.MockHttpRequest;
import io.dataspray.runner.dto.web.HttpResponse;
{{/processor.endpoint}}
{{/util.javaImportsFormat}}

{{#util.javaImportsFormat}}
import static org.junit.Assert.*;
import static org.mockito.Mockito.*;
{{/util.javaImportsFormat}}

public class {{{processor.nameCamelUpper}}}Test extends AbstractTest {
    {{#processor.endpoint}}

    @Test(timeout = 10_000)
    public void testWebRequest() {

        HttpResponse response = processor.handleWebRequest(
            MockHttpRequest.builder()
                .method("GET")
                .path("/")
                .bodyAsString("ping")
                .build(),
            HttpResponse.builder());

        assertEquals(200, response.getStatusCode());
    }
    {{/processor.endpoint}}
    {{#processor.inputStreams}}

    @Test(timeout = 10_000)
    public void test{{{uniqueNameCamelUpper}}}() {

        processor.process{{{uniqueNameCamelUpper}}}(
            createMessage{{{dataFormat.nameCamelUpper}}}({{>../../stream-test-data}}),
            coordinator);

        {{#processor.outputStreams}}
        coordinator.assertSentNone{{{dataFormat.nameCamelUpper}}}();
        {{/processor.outputStreams}}
    }
    {{/processor.inputStreams}}
}
