openapi: 3.0.0
info:
  title: DataSpray Stream Control API
  description: ClearFlask API documentation.
  version: 1.0.0

servers:
  - url: https://stream.dataspray.io/api/v1

components:
  responses:
    Ok:
      description: >-
        HTTP 200 Ok
        Request was successful. No response value supplied.
  schemas:
    UploadCodeRequest:
      type: object
      required:
        - taskId
        - contentLengthBytes
      properties:
        taskId:
          type: string
        contentLengthBytes:
          type: integer
          format: int64
    UploadCodeResponse:
      type: object
      required:
        - presignedUrl
        - codeUrl
      properties:
        presignedUrl:
          type: string
        codeUrl:
          type: string
    DeployRequest:
      type: object
      required:
        - taskId
        - codeUrl
      properties:
        taskId:
          type: string
        codeUrl:
          type: string
        runtime:
          type: string
          # Subset of software.amazon.awssdk.services.lambda.model.Runtime
          enum:
            - JAVA8
            - JAVA11
            - NODEJS14_X
            - PYTHON3_9
            - GO1_X
            - RUBY2_7
    UpdateRequest:
      type: object
      properties:
        codeUrl:
          type: string
    TaskStatuses:
      type: object
      required:
        - tasks
      properties:
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/TaskStatus'
    TaskStatus:
      type: object
      required:
        - id
      properties:
        taskId:
          type: string
        status:
          type: string
          enum:
            - RUNNING
            - PAUSED
            - MISSING
        lastUpdateStatus:
          type: string
          # Matches software.amazon.awssdk.services.lambda.model.LastUpdateStatus
          enum:
            - SUCCESSFUL
            - FAILED
            - IN_PROGRESS
        lastUpdateStatusReason:
          type: string

paths:
  /ping:
    get:
      operationId: ping
      tags: [ Ping ]
      responses:
        '200':
          $ref: '#/components/responses/Ok'

  /code/upload:
    put:
      operationId: uploadCode
      tags: [ Control ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadCodeRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadCodeResponse'

  /stream/deploy:
    post:
      operationId: deploy
      tags: [ Control ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
  /stream/status:
    get:
      operationId: statusAll
      tags: [ Control ]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatuses'
  /stream/task/{taskId}/status/:
    get:
      operationId: status
      tags: [ Control ]
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
  /stream/task/{taskId}/update/:
    patch:
      operationId: update
      tags: [ Control ]
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
  /stream/task/{taskId}/pause/:
    delete:
      operationId: pause
      tags: [ Control ]
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
  /stream/task/{taskId}/resume/:
    delete:
      operationId: resume
      tags: [ Control ]
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
  /stream/task/{taskId}/delete/:
    delete:
      operationId: delete
      tags: [ Control ]
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
