# Architecture

```mermaid
graph TB;
{{#definition.processors}}
    {{processorId}}[{{name}}];
    {{#inputStreams}}
        Queue{{{uniqueNameCamelUpper}}}([Queue {{{uniqueNameCamelUpper}}}]) --> {{processorId}};
    {{/inputStreams}}
    {{#outputStreams}}
        {{processorId}} --> Queue{{{uniqueNameCamelUpper}}}([Queue {{{uniqueNameCamelUpper}}}]);
    {{/outputStreams}}
    {{#web}}
    {{#endpoints}}
        Web{{{nameCamelUpper}}}([Web {{{nameCamelUpper}}}]) --> {{processorId}};
    {{/endpoints}}
    {{#endpoints.empty}}
        Web{{{nameCamelUpper}}}([Web]) --> {{processorId}};
    {{/endpoints.empty}}
    {{/web}}
{{/definition.processors}}
```

