# Architecture

```mermaid
graph TB;
{{#definition.processors}}
    {{taskId}}[{{name}}];
    {{#inputStreams}}
        Queue{{{uniqueNameCamelUpper}}}([Queue {{{uniqueNameCamelUpper}}}]) --> {{taskId}};
    {{/inputStreams}}
    {{#outputStreams}}
        {{taskId}} --> Queue{{{uniqueNameCamelUpper}}}([Queue {{{uniqueNameCamelUpper}}}]);
    {{/outputStreams}}
    {{#web}}
    {{#endpoints}}
        Web{{{nameCamelUpper}}}([Web {{{nameCamelUpper}}}]) --> {{taskId}};
    {{/endpoints}}
    {{#endpoints.empty}}
        Web{{{nameCamelUpper}}}([Web]) --> {{taskId}};
    {{/endpoints.empty}}
    {{/web}}
{{/definition.processors}}
```

