# Templates

## What is this folder?

This folder holds Mustache templates used to generate files and code. Each folder holds specific template files which are extracted by the DataSpray tool.

In most circumstances, you do not need to modify anything in this directory.

## How to make a change

In order to modify a template, you need to un-ignore it by adding it to the `.gitignore` file prefixed with `!` and then check it into Git. Code generation will skip any files that are not ignored by git.
