# Data schemas

## What is this folder?

This folder holds schemas for your data. When you choose a data format with a schema for a given source or destination, these schemas are defined here.

## How does this work

The schemas defined in these folders are used to generate code including serialization and data classes.
