package {{{definition.javaPackage}}};

{{#util.javaImportsFormat}}
{{^processor.inputStreams.empty}}
import io.dataspray.runner.Message;
{{/processor.inputStreams.empty}}
{{#processor.web}}
import jakarta.annotation.Nullable;
import io.dataspray.runner.dto.web.HttpRequest;
import io.dataspray.runner.dto.web.HttpResponse;
import io.dataspray.runner.dto.web.HttpResponse.HttpResponseBuilder;
{{/processor.web}}
{{/util.javaImportsFormat}}

public interface Processor {
    {{#processor.web}}
    {{^endpoints.empty}}
    {{#endpoints}}

    HttpResponse web{{{nameCamelUpper}}}(
        {{>../../../web-method-params}}
        HttpResponseBuilder<{{#responseDataFormat}}{{{nameCamelUpper}}}{{/responseDataFormat}}{{^responseDataFormat}}Object{{/responseDataFormat}}> responseBuilder,
        WebCoordinator coordinator);
    {{/endpoints}}

    default HttpResponse web(HttpRequest request, HttpResponseBuilder<Object> responseBuilder, WebCoordinator coordinator) {
        return responseBuilder.notFound().build();
    }
    {{/endpoints.empty}}
    {{#endpoints.empty}}

    HttpResponse web(HttpRequest request, HttpResponseBuilder<Object> responseBuilder, WebCoordinator coordinator);
    {{/endpoints.empty}}
    {{/processor.web}}
    {{#processor.inputStreams}}

    void stream{{{uniqueNameCamelUpper}}}(Message<{{{this.dataFormat.nameCamelUpper}}}> {{this.uniqueNameCamelLower}}, StreamCoordinator coordinator);
    {{/processor.inputStreams}}
}
