package {{{definition.javaPackage}}};

{{#util.javaImportsFormat}}
import java.util.Base64;
import lombok.SneakyThrows;
import {{{definition.javaPackage}}}.{{{processor.nameCamelUpper}}};
{{#processor.dataFormats}}
import {{{definition.javaPackage}}}.{{{nameCamelUpper}}};
{{/processor.dataFormats}}
import java.io.IOException;
import io.dataspray.runner.util.GsonUtil;
import io.dataspray.runner.Entrypoint;
import io.dataspray.runner.MessageImpl;
import io.dataspray.runner.MessageMetadata;
import io.dataspray.runner.RawCoordinator;
import io.dataspray.runner.StoreType;
import java.nio.charset.StandardCharsets;
{{#processor.web}}
import io.dataspray.runner.dto.web.HttpRequest;
import io.dataspray.runner.dto.web.HttpResponse;
import io.dataspray.runner.dto.web.HttpResponse.HttpResponseBuilder;
import jakarta.ws.rs.core.MediaType;
import com.google.common.collect.ImmutableList;
import java.util.Optional;
{{/processor.web}}
{{/util.javaImportsFormat}}

public class Runner extends Entrypoint {

    {{#processor.web}}
    {{#endpoints}}
    {{^contentTypes.empty}}
    private static final ImmutableList<MediaType> ENDPOINT_ALLOWED_CONTENT_TYPES_{{{nameSnakeUpper}}} = ImmutableList.of({{#contentTypes}}MediaType.valueOf("{{{.}}}"){{^-last}}, {{/-last}}{{/contentTypes}});
    {{/contentTypes.empty}}
    {{/endpoints}}
    {{/processor.web}}
    private final Processor processor = new {{{processor.nameCamelUpper}}}();
    {{#processor.web}}

    @Override
    public HttpResponse web(HttpRequest request, RawCoordinator rawCoordinator) {

        WebCoordinator coordinator = new CoordinatorImpl(
            rawCoordinator{{#processor.hasDynamoState}},
            Optional.empty(){{/processor.hasDynamoState}}
        );
        {{^endpoints.empty}}

        String[] pathDirs = request.getRawPath().split("/");
        MediaType mediaType = MediaType.valueOf(request.getHeaders().getOrDefault("Content-Type", "text/plain"));
        {{/endpoints.empty}}
        {{#endpoints}}

        if (
            {{>../../../web-request-endpoint-match}}
        ) {
            return processor.web{{{nameCamelUpper}}}(
                {{>../../../web-request-to-params}}
                HttpResponse.<{{#responseDataFormat}}{{{nameCamelUpper}}}{{/responseDataFormat}}{{^responseDataFormat}}Void{{/responseDataFormat}}>builder(),
                coordinator);
        }
        {{/endpoints}}

        return processor.web(
            request,
            HttpResponse.<Object>builder(),
            coordinator);
    }
    {{/processor.web}}
    {{^processor.inputStreams.empty}}

    @Override
    public void stream(MessageMetadata metadata, String data, RawCoordinator rawCoordinator) {

        StreamCoordinator coordinator = new CoordinatorImpl(
            rawCoordinator{{#processor.hasDynamoState}},
            Optional.of(metadata.getKey()){{/processor.hasDynamoState}}
        );
        {{#processor.inputStreams}}if (StoreType.{{{storeType.name}}}.equals(metadata.getStoreType())
                && "{{{storeName}}}".equals(metadata.getStoreName())
                && "{{{streamName}}}".equals(metadata.getStreamName())) {
            {{#dataFormat.isSerdeString}}
            processor.stream{{{uniqueNameCamelUpper}}}(new MessageImpl<>(metadata, data), coordinator);
            {{/dataFormat.isSerdeString}}
            {{^dataFormat.isSerdeString}}
            processor.stream{{{uniqueNameCamelUpper}}}(new MessageImpl<>(metadata, to{{{dataFormat.nameCamelUpper}}}(data)), coordinator);
            {{/dataFormat.isSerdeString}}
        } else {{/processor.inputStreams}}{
            throw new RuntimeException("Received unexpected message from " + metadata.getStoreType() + " source " + metadata.getStoreName() + " stream " + metadata.getStreamName());
        }
    }
    {{#processor.inputStreams}}
    {{^dataFormat.isSerdeString}}

    @SneakyThrows
    private {{{dataFormat.nameCamelUpper}}} to{{{dataFormat.nameCamelUpper}}}(String data) {
        {{#dataFormat.isSerdeBinary}}
        return Base64.getDecoder().decode(data);
        {{/dataFormat.isSerdeBinary}}
        {{#dataFormat.isSerdeJson}}
        return GsonUtil.get().fromJson(data, {{{dataFormat.nameCamelUpper}}}.class);
        {{/dataFormat.isSerdeJson}}
        {{#dataFormat.isSerdeProtobuf}}
        return {{{dataFormat.nameCamelUpper}}}.parseFrom(Base64.getDecoder().decode(data));
        {{/dataFormat.isSerdeProtobuf}}
        {{#dataFormat.isSerdeAvro}}
        return {{{dataFormat.nameCamelUpper}}}.getDecoder().decode(Base64.getDecoder().decode(data));
        {{/dataFormat.isSerdeAvro}}
    }
    {{/dataFormat.isSerdeString}}
    {{/processor.inputStreams}}
    {{/processor.inputStreams.empty}}
}
