openapi: 3.0.3
info:
  title: DataSpray API
  description: DataSpray API documentation for controlling and development.
  version: 1.0.0

servers:
  - url: https://api.dataspray.io

components:
  securitySchemes:
    Authorizer:
      $ref: 'common.yaml#/components/securitySchemes/Authorizer'

# Use Lambda Authorizer by default unless overriden by specific endpoint
security:
  - Authorizer: [ ]

paths:
  /v1/health:
    $ref: 'paths-health.yaml#/~1v1~1health'
  /v1/auth/sign-up:
    $ref: 'paths-authnz.yaml#/~1v1~1auth~1sign-up'
  /v1/auth/sign-up/code:
    $ref: 'paths-authnz.yaml#/~1v1~1auth~1sign-up~1code'
  /v1/auth/sign-in:
    $ref: 'paths-authnz.yaml#/~1v1~1auth~1sign-in'
  /v1/auth/sign-in/totp:
    $ref: 'paths-authnz.yaml#/~1v1~1auth~1sign-in~1totp'
  /v1/auth/sign-in/password-change:
    $ref: 'paths-authnz.yaml#/~1v1~1auth~1sign-in~1password-change'
  /v1/auth/sign-in/refresh:
    $ref: 'paths-authnz.yaml#/~1v1~1auth~1sign-in~1refresh'
  /v1/auth/sign-out:
    $ref: 'paths-authnz.yaml#/~1v1~1auth~1sign-out'
  /v1/auth/apikeys:
    $ref: 'paths-authnz.yaml#/~1v1~1auth~1apikeys'
  /v1/auth/apikey:
    $ref: 'paths-authnz.yaml#/~1v1~1auth~1apikey'
  /v1/organizations/create:
    $ref: 'paths-organization.yaml#/~1v1~1organizations~1create'
  /v1/organization/{organizationName}/invite:
    $ref: 'paths-organization.yaml#/~1v1~1organization~1{organizationName}~1invite'
  /v1/organization/{organizationName}/control/code/upload:
    $ref: 'paths-control.yaml#/~1v1~1organization~1{organizationName}~1control~1code~1upload'
  /v1/organization/{organizationName}/control/status:
    $ref: 'paths-control.yaml#/~1v1~1organization~1{organizationName}~1control~1status'
  /v1/organization/{organizationName}/control/task/{taskId}/status/:
    $ref: 'paths-control.yaml#/~1v1~1organization~1{organizationName}~1control~1task~1{taskId}~1status~1'
  /v1/organization/{organizationName}/control/task/{taskId}/deploy:
    $ref: 'paths-control.yaml#/~1v1~1organization~1{organizationName}~1control~1task~1{taskId}~1deploy'
  /v1/organization/{organizationName}/control/task/{taskId}/versions:
    $ref: 'paths-control.yaml#/~1v1~1organization~1{organizationName}~1control~1task~1{taskId}~1versions'
  /v1/organization/{organizationName}/control/task/{taskId}/activate:
    $ref: 'paths-control.yaml#/~1v1~1organization~1{organizationName}~1control~1task~1{taskId}~1activate'
  /v1/organization/{organizationName}/control/task/{taskId}/pause:
    $ref: 'paths-control.yaml#/~1v1~1organization~1{organizationName}~1control~1task~1{taskId}~1pause'
  /v1/organization/{organizationName}/control/task/{taskId}/resume:
    $ref: 'paths-control.yaml#/~1v1~1organization~1{organizationName}~1control~1task~1{taskId}~1resume'
  /v1/organization/{organizationName}/control/task/{taskId}/delete:
    $ref: 'paths-control.yaml#/~1v1~1organization~1{organizationName}~1control~1task~1{taskId}~1delete'
  /v1/organization/{organizationName}/target/{targetId}/message:
    $ref: 'paths-ingest.yaml#/~1v1~1organization~1{organizationName}~1target~1{targetId}~1message'