{
  "name": "{{{definition.name}}}",
  "version": "1.0.0",
  "description": "This is a sample data processor for DataSpray",
  "keywords": [],
  "author": {
    "name": "{{{git.authorName}}}",
    "email": "{{{git.authorEmail}}}"
  },
  "scripts": {
    "install-and-build": "npm install && npm run build"
  }
}
