<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <jmxConfigurator/>

    <contextName>${appName}</contextName>

    <conversionRule conversionWord="loggingHighlight" converterClass="io.dataspray.core.cli.LoggingHighlight"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%loggingHighlight(%msg %ex{0}) %nopex%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.jgit" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
