package io.dataspray;

import {{project.definition.namespace}}{{#project.definition.namespace}}.{{/project.definition.namespace}}Coordinator;

public class CoordinatorImpl implements Coordinator {

    private final RawCoordinator rawCoordinator;

    private CoordinatorImpl(RawCoordinator rawCoordinator) {
        this.rawCoordinator = rawCoordinator;
    }

    String getSourceName() {
        return rawCoordinator.getSourceName();
    }
    {{#outputDataFormats}}

    void send{{#util.upperCamelCase}}{{this.name}}{{/util.upperCamelCase}}({{#util.upperCamelCase}}{{this.name}}{{/util.upperCamelCase}} {{#util.lowerCamelCase}}{{this.name}}{{/util.lowerCamelCase}}) {
        // TODO
    }
    {{/outputDataFormats}}

    static Coordinator fromRaw(RawCoordinator rawCoordinator) {
        return new CoordinatorImpl(rawCoordinator);
    }
}
