{{#project.definition.namespace}}
package {{.}};

{{/project.definition.namespace}}
public interface Application {
    {{#inputDataFormats}}

    void process{{#util.upperCamelCase}}{{this.name}}{{/util.upperCamelCase}}({{#util.upperCamelCase}}{{this.name}}{{/util.upperCamelCase}} {{#util.lowerCamelCase}}{{this.name}}{{/util.lowerCamelCase}}, Coordinator coordinator);
    {{/inputDataFormats}}
}
