{{#project.definition.namespace}}
package {{.}};

{{/project.definition.namespace}}
public interface Application {

    {{#processor.inputs}}
    {{name}}
    {{/processor.inputs}}

    void processName(dataFormatName name, Coordinator coordinator);

}
