package io.dataspray;

{{#util.javaImportsFormat}}
import io.dataspray.runner.Message;
{{/util.javaImportsFormat}}

public interface Processor {
    {{#processor.inputStreams}}

    void process{{{uniqueNameCamelUpper}}}(Message<{{#util.upperCamelCase}}{{{this.dataFormat.name}}}{{/util.upperCamelCase}}> {{this.uniqueNameCamelLower}}, {{{processor.nameCamelUpper}}}Coordinator coordinator);
    {{/processor.inputStreams}}
}
