{{#util.trim}}
{{#dataFormat.isSerdeBinary}}
Buffer.from([0x42]);
{{/dataFormat.isSerdeBinary}}
{{#dataFormat.isSerdeString}}
"Forty two"
{{/dataFormat.isSerdeString}}
{{#dataFormat.isSerdeJson}}
{} as {{{dataFormat.nameCamelUpper}}}
{{/dataFormat.isSerdeJson}}
{{/util.trim}}