{{^processor.inputStreams.empty}}
import {
{{#processor.jsonInputStreams}}
    {{{dataFormat.nameCamelUpper}}},
{{/processor.jsonInputStreams}}
} from '../../autogen/streams';
import { {{{processor.nameCamelUpper}}} } from "../../{{{processor.nameCamelLower}}}";
import { Message, StoreType } from "dataspray-runner";
import { TestCoordinator } from "./testCoordinator";
{{#processor.inputStreams}}

export type Test{{{processor.nameCamelUpper}}}Stream{{{uniqueNameCamelUpper}}} = (messageKey: string, {{{dataFormat.nameCamelLower}}}: {{{dataFormat.nameCamelUpper}}}, messageId?: string) => TestCoordinator;
export const prepareTest{{{processor.nameCamelUpper}}}Stream{{{uniqueNameCamelUpper}}} = (processor: {{{processor.nameCamelUpper}}}): Test{{{processor.nameCamelUpper}}}Stream{{{uniqueNameCamelUpper}}} => (messageKey, {{{dataFormat.nameCamelLower}}}, messageId = crypto.randomUUID()) => {
    const message: Message<{{{dataFormat.nameCamelUpper}}}> = new Message({
            storeType: StoreType.{{{storeType}}},
            storeName: '{{{storeName}}}',
            streamName: '{{{streamName}}}',
            key: messageKey,
            id: messageId,
        },
        {{{dataFormat.nameCamelLower}}},
    );
    const coordinator = new TestCoordinator({{#processor.hasDynamoState}}messageKey{{/processor.hasDynamoState}});
    processor.stream{{{uniqueNameCamelUpper}}}(message, coordinator);
    return coordinator;
}
{{/processor.inputStreams}}
{{/processor.inputStreams.empty}}