import { Message } from "dataspray-runner";
import { Coordinator } from "./coordinator";
{{#processor.web}}
import {
    APIGatewayProxyStructuredResultV2,
    LambdaFunctionURLEvent,
} from 'aws-lambda';
{{/processor.web}}
{{^processor.jsonInputStreams.empty}}
import {
{{#processor.jsonInputStreams}}
    {{{dataFormat.nameCamelUpper}}},
{{/processor.jsonInputStreams}}
} from './streams';
{{/processor.jsonInputStreams.empty}}

export abstract class Processor {
    {{#processor.web}}
    {{#endpoints}}
    {{/endpoints}}

    async web(request: LambdaFunctionURLEvent): Promise<APIGatewayProxyStructuredResultV2> {
        return { statusCode: 404 };
    }
    {{/processor.web}}
    {{#processor.inputStreams}}

    stream{{{uniqueNameCamelUpper}}}(message: Message<{{{this.dataFormat.nameCamelUpper}}}>, coordinator: Coordinator): void;
    {{/processor.inputStreams}}
}
