syntax = "proto3";

// Sample Protobuf schema definition
// For more details see https://developers.google.com/protocol-buffers/docs/proto3

option java_multiple_files = true;
option java_package = "{{{definition.javaPackage}}}.autogen";

message {{{dataFormat.nameCamelUpper}}} {
  string name = 1;
  int64 id = 2;
  Type type = 3;
  string email = 4;

  enum Type {
    ADMIN = 0;
    USER = 1;
  }
}
