import { Message } from "dataspray-runner";
import { Coordinator } from "./coordinator";
{{#processor.endpoint}}
import {
    APIGatewayProxyStructuredResultV2,
    LambdaFunctionURLEvent,
} from 'aws-lambda';
{{/processor.endpoint}}
{{^processor.jsonInputStreams.empty}}
import {
{{#processor.jsonInputStreams}}
    {{{dataFormat.nameCamelUpper}}},
{{/processor.jsonInputStreams}}
} from './streams';
{{/processor.jsonInputStreams.empty}}

export interface Processor {
    {{#processor.endpoint}}

    handleWebRequest(request: LambdaFunctionURLEvent): Promise<APIGatewayProxyStructuredResultV2>;
    {{/processor.endpoint}}
    {{#processor.inputStreams}}

    process{{{uniqueNameCamelUpper}}}(message: Message<{{{this.dataFormat.nameCamelUpper}}}>, coordinator: Coordinator): void;
    {{/processor.inputStreams}}
}
