{{#processor.endpoint}}
import {
    APIGatewayProxyStructuredResultV2,
    LambdaFunctionURLEvent,
} from 'aws-lambda';
{{/processor.endpoint}}
{{^processor.inputStreams.empty}}
import {
    Coordinator,
    CoordinatorImpl,
} from './coordinator';
{{/processor.inputStreams.empty}}
import {
    Entrypoint,
    {{^processor.inputStreams.empty}}
    Message,
    MessageMetadata,
    RawCoordinator,
    StoreType,
    {{/processor.inputStreams.empty}}
} from 'dataspray-runner';
{{^processor.jsonInputStreams.empty}}
import {
{{#processor.jsonInputStreams}}
    {{{dataFormat.nameCamelUpper}}},
    validate{{{dataFormat.nameCamelUpper}}},
{{/processor.jsonInputStreams}}
} from './streams';
{{/processor.jsonInputStreams.empty}}
import { {{{processor.nameCamelUpper}}} } from './{{{processor.nameCamelLower}}}';
import { Processor } from './processor';

class Runner extends Entrypoint {

    private processor: Processor = new {{{processor.nameCamelUpper}}}();
    {{#processor.endpoint}}

    processFunctionUrl(request: LambdaFunctionURLEvent): Promise<APIGatewayProxyStructuredResultV2> {
        return this.processor.handleWebRequest(request);
    }
    {{/processor.endpoint}}
    {{^processor.inputStreams.empty}}

    processSqsEvent(metadata: MessageMetadata, data: string, rawCoordinator: RawCoordinator): Promise<void> | void {
        const coordinator: Coordinator = new CoordinatorImpl(rawCoordinator);
        {{#processor.inputStreams}}if (StoreType.{{{storeType.name}}} === metadata.storeType
                && "{{{storeName}}}" === metadata.storeName
                && "{{{streamName}}}" === metadata.streamName) {
            {{#dataFormat.isSerdeString}}
            this.processor.process{{{uniqueNameCamelUpper}}}(new Message(metadata, data), coordinator);
            {{/dataFormat.isSerdeString}}
            {{^dataFormat.isSerdeString}}
            this.processor.process{{{uniqueNameCamelUpper}}}(new Message(metadata, this.to{{{dataFormat.nameCamelUpper}}}(data)), coordinator);
            {{/dataFormat.isSerdeString}}
        } else {{/processor.inputStreams}}{
            throw new Error(`Received unexpected message from ${metadata.storeType} source ${metadata.storeName} stream ${metadata.streamName}`);
        }
    }
    {{#processor.inputStreams}}
    {{^dataFormat.isSerdeString}}

    private to{{{dataFormat.nameCamelUpper}}}(data: string): {{{dataFormat.nameCamelUpper}}} {
        {{#dataFormat.isSerdeBinary}}
        return Buffer.from(data, 'base64').toString('utf8');
        {{/dataFormat.isSerdeBinary}}
        {{#dataFormat.isSerdeJson}}
        const dataJson = JSON.parse(data);
        if (!validate{{{dataFormat.nameCamelUpper}}}(dataJson)) {
            throw new Error(validate{{{dataFormat.nameCamelUpper}}}['errors']);
        }
        return dataJson as {{{dataFormat.nameCamelUpper}}};
        {{/dataFormat.isSerdeJson}}
    }
    {{/dataFormat.isSerdeString}}
    {{/processor.inputStreams}}
    {{/processor.inputStreams.empty}}
}

export const handler = new Runner().handleRequest;
