                {{#requestDataFormat}}
                {{#isSerdeBinary}}
                request.isBase64Encoded ? Buffer.from(request.body, 'base64') : request.body,
                {{/isSerdeBinary}}
                {{#isSerdeString}}
                request.body(),
                {{/isSerdeString}}
                {{#isSerdeJson}}
                bodyJson,
                {{/isSerdeJson}}
                {{/requestDataFormat}}
                {{#pathParams}}
                pathDirs[{{{pathIndex}}}],
                {{/pathParams}}
                {{#queryParams}}
                request.queryStringParameters['{{{name}}}'],
                {{/queryParams}}
                {{#headers}}
                request.headersMap['{{{name}}}'],
                {{/headers}}
                {{#cookies}}
                request.cookiesMap['{{{name}}}'],
                {{/cookies}}