        {{#util.trim}}
        {{#requestDataFormat}}
        {{#isSerdeBinary}}
        {{{nameCamelLower}}}: Buffer,
        {{/isSerdeBinary}}
        {{#isSerdeString}}
        {{{nameCamelLower}}}: string,
        {{/isSerdeString}}
        {{#isSerdeJson}}
        {{{nameCamelLower}}}: {{{nameCamelUpper}}},
        {{/isSerdeJson}}
        {{/requestDataFormat}}
        {{#pathParams}}
        {{{nameCamelLower}}}Path: string,
        {{/pathParams}}
        {{#queryParams}}
        {{{nameCamelLower}}}Query: string{{^isRequired}} | undefined{{/isRequired}},
        {{/queryParams}}
        {{#headers}}
        {{{nameCamelLower}}}Header: string{{^isRequired}} | undefined{{/isRequired}},
        {{/headers}}
        {{#cookies}}
        {{{nameCamelLower}}}Cookie: string{{^isRequired}} | undefined{{/isRequired}},
        {{/cookies}}
        {{/util.trim}}