<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <artifactId>starter-parent</artifactId>
        <groupId>io.dataspray</groupId>
        <version>1.0.0</version>
        <relativePath>pom-parent.xml</relativePath>
    </parent>

    <artifactId>{{{definition.nameDir}}}</artifactId>
    <version>1.0.0</version>
    <packaging>jar</packaging>

    <name>{{{definition.name}}}</name>

    <developers>
        <developer>
            <name>{{{git.authorName}}}</name>
            <email>{{{git.authorEmail}}}</email>
        </developer>
    </developers>

    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    </properties>

    <dependencies>
        <!-- Add your dependencies here -->

        <dependency>
            <groupId>org.mockito</groupId>
            <artifactId>mockito-core</artifactId>
            <version>5.14.2</version>
            <scope>test</scope>
        </dependency>
    </dependencies>
</project>
