{{#util.trim}}
{{#dataFormat.isSerdeBinary}}
new byte[] { 0x42 }
{{/dataFormat.isSerdeBinary}}
{{#dataFormat.isSerdeString}}
"Forty two"
{{/dataFormat.isSerdeString}}
{{#dataFormat.isSerdeJson}}
mock({{{dataFormat.nameCamelUpper}}})
{{/dataFormat.isSerdeJson}}
{{#dataFormat.isSerdeProtobuf}}
mock({{{dataFormat.nameCamelUpper}}})
{{/dataFormat.isSerdeProtobuf}}
{{#dataFormat.isSerdeAvro}}
mock({{{dataFormat.nameCamelUpper}}})
{{/dataFormat.isSerdeAvro}}
{{/util.trim}}