        {{#util.trim}}
        {{#requestDataFormat}}
        {{#isSerdeBinary}}
        byte[] {{{nameCamelLower}}},
        {{/isSerdeBinary}}
        {{#isSerdeString}}
        String {{{nameCamelLower}}},
        {{/isSerdeString}}
        {{#isSerdeJson}}
        {{{nameCamelUpper}}} {{{nameCamelLower}}},
        {{/isSerdeJson}}
        {{/requestDataFormat}}
        {{#pathParams}}
        {{^isRequired}}@Nullable {{/isRequired}}String {{{nameCamelLower}}}Path,
        {{/pathParams}}
        {{#queryParams}}
        {{^isRequired}}@Nullable {{/isRequired}}String {{{nameCamelLower}}}Query,
        {{/queryParams}}
        {{#headers}}
        {{^isRequired}}@Nullable {{/isRequired}}String {{{nameCamelLower}}}Header,
        {{/headers}}
        {{#cookies}}
        {{^isRequired}}@Nullable {{/isRequired}}String {{{nameCamelLower}}}Cookie,
        {{/cookies}}
        {{/util.trim}}