            "{{{method}}}".equalsIgnoreCase(request.getHttpRequestContext().getHttp().getMethod())
            && pathDirs.length == {{{pathDepth}}}
            {{#pathRequiredDirs}}
            && "{{{name}}}".equals(pathDirs[{{{index}}}])
            {{/pathRequiredDirs}}
            {{#queryParams}}
            {{#isRequired}}
            && request.getQueryStringParameters().containsKey("{{{name}}}")
            {{/isRequired}}
            {{/queryParams}}
            {{#headers}}
            {{#isRequired}}
            && request.getHeadersCaseInsensitive().containsKey("{{{name}}}")
            {{/isRequired}}
            {{/headers}}
            {{^contentTypes.empty}}
            && ENDPOINT_ALLOWED_CONTENT_TYPES_{{{nameSnakeUpper}}}.stream().anyMatch(mediaType::is)
            {{/contentTypes.empty}}
            {{#cookies}}
            {{#isRequired}}
            && request.getCookiesCaseInsensitive().containsKey("{{{name}}}")
            {{/isRequired}}
            {{/cookies}}
