            {{#util.trim}}
            {{#getBodyDataFormat}}
            {{#isSerdeBinary}}
            new byte[] {0x00, 0x01, 0x02},
            {{/isSerdeBinary}}
            {{#isSerdeString}}
            "string",
            {{/isSerdeString}}
            {{#isSerdeJson}}
            Mockito.mock({{{nameCamelUpper}}}.class),
            {{/isSerdeJson}}
            {{/getBodyDataFormat}}
            {{#pathParams}}
            {{#isRequired}}"{{{nameCamelLower}}}Path"{{/isRequired}}{{^isRequired}}null{{/isRequired}},
            {{/pathParams}}
            {{#queryParams}}
            {{#isRequired}}"{{{nameCamelLower}}}Query"{{/isRequired}}{{^isRequired}}null{{/isRequired}},
            {{/queryParams}}
            {{#headers}}
            {{#isRequired}}"{{{nameCamelLower}}}Header"{{/isRequired}}{{^isRequired}}null{{/isRequired}},
            {{/headers}}
            {{#cookies}}
            {{#isRequired}}"{{{nameCamelLower}}}Cookie"{{/isRequired}}{{^isRequired}}null{{/isRequired}},
            {{/cookies}}
            {{/util.trim}}