                {{#requestDataFormat}}
                {{#isSerdeBinary}}
                request.getBodyAsBinary(),
                {{/isSerdeBinary}}
                {{#isSerdeString}}
                request.getBodyAsString(),
                {{/isSerdeString}}
                {{#isSerdeJson}}
                GsonUtil.get().fromJson(request.getBodyAsString(), {{{nameCamelUpper}}}.class),
                {{/isSerdeJson}}
                {{/requestDataFormat}}
                {{#pathParams}}
                pathDirs[{{{pathIndex}}}],
                {{/pathParams}}
                {{#queryParams}}
                request.getQueryStringParameters().get("{{{name}}}"),
                {{/queryParams}}
                {{#headers}}
                request.getHeadersCaseInsensitive().get("{{{name}}}"),
                {{/headers}}
                {{#cookies}}
                request.getCookiesCaseInsensitive().get("{{{name}}}"),
                {{/cookies}}