<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.smotana.dataspray</groupId>
    <artifactId>starter-parent</artifactId>
    <version>1.0.0</version>
    <packaging>pom</packaging>

    <name>DataSpray Starter</name>
    <url>https://dataspray.io</url>

    <properties>
        <maven.compiler.source>17</maven.compiler.source>
        <maven.compiler.target>17</maven.compiler.target>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <lombok.version>1.18.22</lombok.version>
        {{^processor.jsonStreams.empty}}
        <gson.version>2.9.0</gson.version>
        {{/processor.jsonStreams.empty}}
        {{^processor.protobufStreams.empty}}
        <protobuf.version>3.7.0</protobuf.version>
        {{/processor.protobufStreams.empty}}
        {{^processor.avroStreams.empty}}
        <avro.version>1.11.0</avro.version>
        {{/processor.avroStreams.empty}}
    </properties>

    <dependencies>
        <dependency>
            <groupId>com.smotana.dataspray</groupId>
            <artifactId>dataspray-runner</artifactId>
            <version>{{{util.runnerVersion}}}</version>
        </dependency>
        <dependency>
            <groupId>org.projectlombok</groupId>
            <artifactId>lombok</artifactId>
            <version>${lombok.version}</version>
        </dependency>
        {{^processor.jsonStreams.empty}}
        <dependency>
            <groupId>com.google.code.gson</groupId>
            <artifactId>gson</artifactId>
            <version>${gson.version}</version>
        </dependency>
        <dependency>
            <groupId>com.google.code.findbugs</groupId>
            <artifactId>jsr305</artifactId>
            <version>3.0.2</version>
        </dependency>
        {{/processor.jsonStreams.empty}}
        {{^processor.protobufStreams.empty}}
        <dependency>
            <groupId>com.google.protobuf</groupId>
            <artifactId>protobuf-java</artifactId>
            <version>${protobuf.version}</version>
        </dependency>
        <dependency>
            <groupId>com.google.protobuf</groupId>
            <artifactId>protobuf-java-util</artifactId>
            <version>${protobuf.version}</version>
        </dependency>
        {{/processor.protobufStreams.empty}}
        {{^processor.avroStreams.empty}}
        <dependency>
          <groupId>org.apache.avro</groupId>
          <artifactId>avro</artifactId>
          <version>${avro.version}</version>
        </dependency>
        {{/processor.avroStreams.empty}}

        <!-- Test dependencies -->
        <dependency>
            <groupId>com.smotana.dataspray</groupId>
            <artifactId>dataspray-runner</artifactId>
            <version>{{{util.runnerVersion}}}</version>
            <classifier>tests</classifier>
            <type>test-jar</type>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>junit</groupId>
            <artifactId>junit</artifactId>
            <version>4.13.2</version>
            <scope>test</scope>
        </dependency>
    </dependencies>

    <build>
        {{^processor.protobufStreams.empty}}
        <extensions>
            <extension>
                <groupId>kr.motd.maven</groupId>
                <artifactId>os-maven-plugin</artifactId>
                <version>1.7.0</version>
            </extension>
        </extensions>
        {{/processor.protobufStreams.empty}}
        <plugins>
            {{^processor.jsonStreams.empty}}
            <plugin>
                <groupId>org.jsonschema2pojo</groupId>
                <artifactId>jsonschema2pojo-maven-plugin</artifactId>
                <version>1.1.2</version>
                <configuration>
                    <sourcePaths>
                        {{#processor.jsonStreams}}
                        <sourcePath>${project.basedir}/../{{{util.dataFormatsFolder}}}/{{{this.dataFormat.name}}}/</sourcePath>
                        {{/processor.jsonStreams}}
                    </sourcePaths>
                    <outputDirectory>${project.build.directory}/generated-sources/json</outputDirectory>
                    <targetPackage>{{{definition.javaPackage}}}</targetPackage>

                    <!-- Code generation directives -->
                    <annotationStyle>gson</annotationStyle>
                    <generateBuilders>true</generateBuilders>
                    <useInnerClassBuilders>true</useInnerClassBuilders>
                    <includeDynamicBuilders>true</includeDynamicBuilders>
                    <useLongIntegers>true</useLongIntegers>
                    <useDoubleNumbers>true</useDoubleNumbers>
                    <useTitleAsClassname>true</useTitleAsClassname>
                    <inclusionLevel>NON_ABSENT</inclusionLevel>
                    <includeJsr305Annotations>true</includeJsr305Annotations>
                    <useOptionalForGetters>true</useOptionalForGetters>
                    <removeOldOutput>true</removeOldOutput>
                    <includeAdditionalProperties>true</includeAdditionalProperties>
                    <includeSetters>false</includeSetters>
                    <includeDynamicAccessors>false</includeDynamicAccessors>
                    <includeDynamicGetters>false</includeDynamicGetters>
                    <dateTimeType>java.time.LocalDateTime</dateTimeType>
                    <dateType>java.time.LocalDate</dateType>
                    <timeType>java.time.LocalTime</timeType>
                    <includeGeneratedAnnotation>false</includeGeneratedAnnotation>
                </configuration>
                <executions>
                    <execution>
                        <phase>generate-sources</phase>
                        <goals>
                            <goal>generate</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
            {{/processor.jsonStreams.empty}}
            {{^processor.protobufStreams.empty}}
            <plugin>
                <groupId>org.xolstice.maven.plugins</groupId>
                <artifactId>protobuf-maven-plugin</artifactId>
                <version>0.6.1</version>
                <extensions>true</extensions>
                <executions>
                    <execution>
                        <phase>generate-sources</phase>
                        <goals>
                            <goal>compile</goal>
                        </goals>
                    </execution>
                </executions>
                <configuration>
                    <protoSourceRoot>${project.basedir}/../{{{util.dataFormatsFolder}}}/</protoSourceRoot>
                    <includes>
                        {{#processor.protobufStreams}}
                        <include>{{{this.dataFormat.name}}}/**/*.proto</include>
                        {{/processor.protobufStreams}}
                    </includes>
                    <outputDirectory>${project.build.directory}/generated-sources/protobuf</outputDirectory>
                    <protocArtifact>com.google.protobuf:protoc:3.7.0:exe:${os.detected.classifier}</protocArtifact>
                </configuration>
            </plugin>
            {{/processor.protobufStreams.empty}}
            {{^processor.avroStreams.empty}}
            <plugin>
                <groupId>org.apache.avro</groupId>
                <artifactId>avro-maven-plugin</artifactId>
                <version>${avro.version}</version>
                <configuration>
                    <sourceDirectory>${project.basedir}/../{{{util.dataFormatsFolder}}}/</sourceDirectory>
                    <includes>
                        {{#processor.avroStreams}}
                        <include>{{{this.dataFormat.name}}}/**/*.avsc</include>
                        {{/processor.avroStreams}}
                    </includes>
                    <outputDirectory>${project.build.directory}/generated-sources/avro/</outputDirectory>
                    <stringType>String</stringType>
                    <gettersReturnOptional>true</gettersReturnOptional>
                    <optionalGettersForNullableFieldsOnly>true</optionalGettersForNullableFieldsOnly>
                    <createSetters>false</createSetters>
                    <enableDecimalLogicalType>true</enableDecimalLogicalType>
                </configuration>
                <executions>
                    <execution>
                        <phase>generate-sources</phase>
                        <goals>
                            <goal>schema</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
            {{/processor.avroStreams.empty}}
        </plugins>
    </build>
</project>
