<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.smotana.dataspray</groupId>
    <artifactId>starter-parent</artifactId>
    <version>1.0.0</version>
    <packaging>pom</packaging>

    <name>DataSpray Starter</name>
    <url>https://dataspray.io</url>

    <properties>
        <maven.compiler.source>17</maven.compiler.source>
        <maven.compiler.target>17</maven.compiler.target>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        {{#jsonDataFormats.size}}
        <jackson.version>2.13.3</jackson.version>
        {{/jsonDataFormats.size}}
        {{#protobufDataFormats.size}}
        <protobuf.version>3.7.0</protobuf.version>
        {{/protobufDataFormats.size}}
        {{#avroDataFormats.size}}
        <avro.version>1.11.0</avro.version>
        {{/avroDataFormats.size}}
    </properties>

    <dependencies>
        {{#jsonDataFormats.size}}
        <dependency>
            <groupId>com.fasterxml.jackson.core</groupId>
            <artifactId>jackson-core</artifactId>
            <version>${jackson.version}</version>
        </dependency>
        <dependency>
            <groupId>com.fasterxml.jackson.core</groupId>
            <artifactId>jackson-databind</artifactId>
            <version>${jackson.version}</version>
        </dependency>
        <dependency>
            <groupId>com.google.code.findbugs</groupId>
            <artifactId>jsr305</artifactId>
            <version>3.0.2</version>
        </dependency>
        {{/jsonDataFormats.size}}
        {{#protobufDataFormats.size}}
        <dependency>
            <groupId>com.google.protobuf</groupId>
            <artifactId>protobuf-java</artifactId>
            <version>${protobuf.version}</version>
        </dependency>
        <dependency>
            <groupId>com.google.protobuf</groupId>
            <artifactId>protobuf-java-util</artifactId>
            <version>${protobuf.version}</version>
        </dependency>
        {{/protobufDataFormats.size}}
        {{#avroDataFormats.size}}
        <dependency>
          <groupId>org.apache.avro</groupId>
          <artifactId>avro</artifactId>
          <version>${avro.version}</version>
        </dependency>
        {{/avroDataFormats.size}}
    </dependencies>

    <build>
        {{#protobufDataFormats.size}}
        <extensions>
            <extension>
                <groupId>kr.motd.maven</groupId>
                <artifactId>os-maven-plugin</artifactId>
                <version>1.7.0</version>
            </extension>
        </extensions>
        {{/protobufDataFormats.size}}
        <plugins>
            {{#jsonDataFormats.size}}
            <plugin>
                <groupId>org.jsonschema2pojo</groupId>
                <artifactId>jsonschema2pojo-maven-plugin</artifactId>
                <version>1.1.2</version>
                <configuration>
                    <sourcePaths>
                        {{#jsonDataFormats}}
                        <sourcePath>${project.basedir}/../{{util.dataFormatsFolder}}/{{this.name}}/</sourcePath>
                        {{/jsonDataFormats}}
                    </sourcePaths>
                    <outputDirectory>${project.build.directory}/generated-sources/json</outputDirectory>
                    {{#project.definition.namespace}}
                    <targetPackage>{{.}}</targetPackage>
                    {{/project.definition.namespace}}

                    <!-- Code generation directives -->
                    <generateBuilders>true</generateBuilders>
                    <useInnerClassBuilders>true</useInnerClassBuilders>
                    <includeDynamicBuilders>true</includeDynamicBuilders>
                    <useLongIntegers>true</useLongIntegers>
                    <useDoubleNumbers>true</useDoubleNumbers>
                    <useTitleAsClassname>true</useTitleAsClassname>
                    <inclusionLevel>NON_ABSENT</inclusionLevel>
                    <includeJsr305Annotations>true</includeJsr305Annotations>
                    <useOptionalForGetters>true</useOptionalForGetters>
                    <removeOldOutput>true</removeOldOutput>
                    <includeAdditionalProperties>true</includeAdditionalProperties>
                    <includeSetters>false</includeSetters>
                    <includeDynamicAccessors>false</includeDynamicAccessors>
                    <includeDynamicGetters>false</includeDynamicGetters>
                    <dateTimeType>java.time.LocalDateTime</dateTimeType>
                    <dateType>java.time.LocalDate</dateType>
                    <timeType>java.time.LocalTime</timeType>
                    <includeGeneratedAnnotation>false</includeGeneratedAnnotation>
                </configuration>
                <executions>
                    <execution>
                        <phase>generate-sources</phase>
                        <goals>
                            <goal>generate</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
            {{/jsonDataFormats.size}}
            {{#protobufDataFormats.size}}
            <plugin>
                <groupId>org.xolstice.maven.plugins</groupId>
                <artifactId>protobuf-maven-plugin</artifactId>
                <version>0.6.1</version>
                <extensions>true</extensions>
                <executions>
                    <execution>
                        <phase>generate-sources</phase>
                        <goals>
                            <goal>compile</goal>
                        </goals>
                    </execution>
                </executions>
                <configuration>
                    <protoSourceRoot>${project.basedir}/../{{util.dataFormatsFolder}}/</protoSourceRoot>
                    <includes>
                        {{#protobufDataFormats}}
                        <include>{{this.name}}/**/*.proto</include>
                        {{/protobufDataFormats}}
                    </includes>
                    <outputDirectory>${project.build.directory}/generated-sources/protobuf</outputDirectory>
                    <protocArtifact>com.google.protobuf:protoc:3.7.0:exe:${os.detected.classifier}</protocArtifact>
                </configuration>
            </plugin>
            {{/protobufDataFormats.size}}
            {{#avroDataFormats.size}}
            <plugin>
                <groupId>org.apache.avro</groupId>
                <artifactId>avro-maven-plugin</artifactId>
                <version>${avro.version}</version>
                <configuration>
                    <sourceDirectory>${project.basedir}/../{{util.dataFormatsFolder}}/</sourceDirectory>
                    <includes>
                        {{#avroDataFormats}}
                        <include>{{this.name}}/**/*.avsc</include>
                        {{/avroDataFormats}}
                    </includes>
                    <outputDirectory>${project.build.directory}/generated-sources/avro/</outputDirectory>
                    <stringType>String</stringType>
                    <gettersReturnOptional>true</gettersReturnOptional>
                    <optionalGettersForNullableFieldsOnly>true</optionalGettersForNullableFieldsOnly>
                    <createSetters>false</createSetters>
                    <enableDecimalLogicalType>true</enableDecimalLogicalType>
                </configuration>
                <executions>
                    <execution>
                        <phase>generate-sources</phase>
                        <goals>
                            <goal>schema</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
            {{/avroDataFormats.size}}
        </plugins>
    </build>
</project>
