{
  "$schema": "https://json-schema.org/draft-07/schema",
  "title": "{{dataFormat.name}}",
  "description": "Sample AVRO schema; see https://avro.apache.org/docs/1.2.0/spec.html",
  "type": "object"
}

{
  "type": "record",
  "namespace": "{{project.namespace}}",
  "name": "{{dataFormat.name}}",
  "fields": [
    { "name": "name", "type": "string" },
    { "name": "enabled", "type": "boolean" },
    { "name": "values", "type": "array", "items: "long" }
  ]
}
