{
  "name": "{{{dataFormat.nameCamelUpper}}}",
  "type": "record",
  {{#definition.namespace}}
  "namespace": "{{{.}}}",
  {{/definition.namespace}}
  "fields": [
    { "name": "name", "type": [ "string", "null" ], "default": "null" },
    { "name": "enabled", "type": "boolean" },
    { "name": "values", "type": {
      "type": "array", "items": "long"
    }}
  ]
}
