package io.dataspray;

{{#util.javaImportsFormat}}
import org.junit.Before;
{{/util.javaImportsFormat}}

public class AbstractTest {

    protected {{{processor.nameCamelUpper}}} {{{processor.nameCamelLower}}};
    protected TestCoordinator coordinator;

    @Before
    protected void initializeAbstractTest() {
         {{{processor.nameCamelLower}}} = new {{{processor.nameCamelUpper}}}Impl();
    }
}
