package {{{definition.javaPackage}}};

{{#util.javaImportsFormat}}
import org.junit.Test;
import com.google.common.collect.ImmutableList;
{{/util.javaImportsFormat}}

{{#util.javaImportsFormat}}
import static org.junit.Assert.*;
{{/util.javaImportsFormat}}

public class {{{processor.nameCamelUpper}}}Test extends AbstractTest {
    {{#processor.inputStreams}}

    @Test(timeout = 10_000)
    public void test{{{uniqueNameCamelUpper}}}() {
        processor.process{{{uniqueNameCamelUpper}}}(
            createMessage{{{dataFormat.nameCamelUpper}}}({{>../../stream-sample-data}}),
            coordinator);
        {{#processor.outputStreams}}
        {{#-first}}
        coordinator.assertSent{{{dataFormat.nameCamelUpper}}}(ImmutableList.of({{>../../stream-sample-data}}));
        {{/-first}}
        {{^-first}}
        coordinator.assertSentNone{{{dataFormat.nameCamelUpper}}}(0);
        {{/-first}}
        {{/processor.outputStreams}}
    }
    {{/processor.inputStreams}}
}
