package {{{definition.javaPackage}}};

{{#util.javaImportsFormat}}
{{^processor.inputStreams.empty}}
import io.dataspray.runner.Message;
import {{{definition.javaPackage}}}.autogen.Coordinator;
import {{{definition.javaPackage}}}.autogen.Processor;
{{/processor.inputStreams.empty}}
{{#processor.web}}
import jakarta.annotation.Nullable;
import io.dataspray.runner.dto.web.HttpResponse;
{{#endpoints.empty}}
import io.dataspray.runner.dto.web.HttpRequest;
{{/endpoints.empty}}
{{/processor.web}}
{{/util.javaImportsFormat}}

public class {{{processor.nameCamelUpper}}} implements Processor {
    {{#processor.web}}
    {{#endpoints}}

    HttpResponse web{{{nameCamelUpper}}}(
        {{>autogen/web-method-params}}
        HttpResponse.HttpResponseBuilder responseBuilder) {

        // TODO
        return responseBuilder.ok().build();
    }
    {{/endpoints}}
    {{#endpoints.empty}}

    @Override
    public HttpResponse web(HttpRequest request, HttpResponse.HttpResponseBuilder responseBuilder) {

        // TODO
        return responseBuilder.ok().build();
    }
    {{/endpoints.empty}}
    {{/processor.web}}
    {{#processor.inputStreams}}

    @Override
    public void stream{{{uniqueNameCamelUpper}}}(Message<{{{this.dataFormat.nameCamelUpper}}}> message, Coordinator coordinator) {

        // TODO
        {{#processor.outputStreams}}
        // coordinator.sendTo{{{uniqueNameCamelUpper}}}({{>stream-sample-data}});
        {{/processor.outputStreams}}
    }
    {{/processor.inputStreams}}
}
