package io.dataspray;

import com.smotana.dataspray.runner.RawApplication;
import com.smotana.dataspray.runner.RawCoordinator;
import {{/project.definition.namespace}}.Application
import {{/project.definition.namespace}}.ApplicationImpl

public class RawApplicationImpl implements Runner {

    private final Application application = new ApplicationImpl();

    @Override
    void process(byte[] messageBytes, String sourceName, RawCoordinator coordinator) {
        RawCoordinatorImpl.
        switch(sourceName) {
            {{#inputDataFormats}}
            case "":
                break;
            void process{{#util.upperCamelCase}}{{this.name}}{{/util.upperCamelCase}}({{#util.upperCamelCase}}{{this.name}}{{/util.upperCamelCase}} {{#util.lowerCamelCase}}{{this.name}}{{/util.lowerCamelCase}}, Coordinator coordinator);
            {{/inputDataFormats}}
            default "":
                throw new RuntimeException("Received message from unexpected source: " + sourceName);
        }
    }
    {{#inputDataFormats}}

    private {{#util.upperCamelCase}}{{this.name}}{{/util.upperCamelCase}} fromBytes{{#util.upperCamelCase}}{{this.name}}{{/util.upperCamelCase}}(byte[] messageBytes) {
        // TODO
    }
    {{/inputDataFormats}}

}
