package io.dataspray;

public interface {{{processor.nameCamelUpper}}}Coordinator {

    {{#processor.outputStreams}}

    void send{{{dataFormat.nameCamelUpper}}}({{{dataFormat.nameCamelUpper}}} {{{dataFormat.nameCamelLower}}}) {
        // TODO
    }
    {{/processor.outputStreams}}

    static Coordinator fromRaw(RawCoordinator rawCoordinator) {
        return new CoordinatorImpl(rawCoordinator);
    }
}
