package {{{definition.javaPackage}}};

{{#util.javaImportsFormat}}
import io.dataspray.runner.Message;
{{/util.javaImportsFormat}}

public interface Processor {
    {{#processor.inputStreams}}

    void process{{{uniqueNameCamelUpper}}}(Message<{{{this.dataFormat.nameCamelUpper}}}> {{this.uniqueNameCamelLower}}, Coordinator coordinator);
    {{/processor.inputStreams}}
}
