package {{{definition.javaPackage}}};

public interface Coordinator {
    {{#processor.outputStreams}}

    public void sendTo{{{uniqueNameCamelUpper}}}({{{dataFormat.nameCamelUpper}}} {{{dataFormat.nameCamelLower}}});
    {{/processor.outputStreams}}
}
