package {{{definition.javaPackage}}};

{{#util.javaImportsFormat}}
import io.dataspray.runner.Message;
{{/util.javaImportsFormat}}

public class {{{processor.nameCamelUpper}}} implements Processor {
    {{#processor.inputStreams}}

    @Override
    public void process{{{uniqueNameCamelUpper}}}(Message<{{{this.dataFormat.nameCamelUpper}}}> message, Coordinator coordinator) {

        // TODO

        {{#processor.outputStreams}}
        {{#-first}}
        coordinator.sendTo{{{uniqueNameCamelUpper}}}({{>../../stream-sample-data}});
        {{/-first}}
        {{/processor.outputStreams}}
    }
    {{/processor.inputStreams}}
}
